@import url('https://fonts.googleapis.com/css2?family=LXGW+Marker+Gothic&display=swap');


:root {
   --font_Muldraugh : #ffa;
   --font_MarchRidge : #ffa;
   --font_Rosewood : #ffa;
   --font_Ekron : #ffa;
   --font_rvington : #ffa;
   --font_EchoCreek : #ffa;
   --font_Brandenburg : #ffa;
   --font_WestPoint : #ffa;
   --font_Louisville : #ffa;
   --font_FallasLake : #ffa;
   --font_ValleyStation : #ffa;
   --font_Dixie : #ffa;
   --font_DoeValley : #ffa;

   --bg-color: #ffa;
   --red: #FA0000;
   --gray: #aaa;
   --darkblue: #315568;
   --btn: #156184;
   
   --FontSize: 20px;
   --nav_tab_padding: 20px;
   --inline_img:20px;
   
   --transparent: #FFFFFF00;
   --nav_tab_borderColor: rgb(65,79,68);
   --nav_tab_borderShadowColor : rgb(208,214,197);
   
   --camouflage_1: #D0D6C5;
   --camouflage_2: #414F44aa;
   --camouflage_3: #A19970;
   --camouflage_4: #688559;
}
body {
    text-align: left;
	font-family: "LXGW Marker Gothic","Poppins", sans-serif;
    position: absolute;
	font-size:20px;
	padding: 0;
    margin: 0;
    background-attachment: fixed;
	background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='330' height='165' viewBox='0 0 1600 800'%3E%3Cpath fill='%23FBFF3E' d='M1102.5 734.8c2.5-1.2 24.8-8.6 25.6-7.5.5.7-3.9 23.8-4.6 24.5C1123.3 752.1 1107.5 739.5 1102.5 734.8zM1226.3 229.1c0-.1-4.9-9.4-7-14.2-.1-.3-.3-1.1-.4-1.6-.1-.4-.3-.7-.6-.9-.3-.2-.6-.1-.8.1l-13.1 12.3c0 0 0 0 0 0-.2.2-.3.5-.4.8 0 .3 0 .7.2 1 .1.1 1.4 2.5 2.1 3.6 2.4 3.7 6.5 12.1 6.5 12.2.2.3.4.5.7.6.3 0 .5-.1.7-.3 0 0 1.8-2.5 2.7-3.6 1.5-1.6 3-3.2 4.6-4.7 1.2-1.2 1.6-1.4 2.1-1.6.5-.3 1.1-.5 2.5-1.9C1226.5 230.4 1226.6 229.6 1226.3 229.1zM33 770.3C33 770.3 33 770.3 33 770.3c0-.7-.5-1.2-1.2-1.2-.1 0-.3 0-.4.1-1.6.2-14.3.1-22.2 0-.3 0-.6.1-.9.4-.2.2-.4.5-.4.9 0 .2 0 4.9.1 5.9l.4 13.6c0 .3.2.6.4.9.2.2.5.3.8.3 0 0 .1 0 .1 0 7.3-.7 14.7-.9 22-.6.3 0 .7-.1.9-.3.2-.2.4-.6.4-.9C32.9 783.3 32.9 776.2 33 770.3z'/%3E%3Cpath fill='%2344CAFF' d='M171.1 383.4c1.3-2.5 14.3-22 15.6-21.6.8.3 11.5 21.2 11.5 22.1C198.1 384.2 177.9 384 171.1 383.4zM596.4 711.8c-.1-.1-6.7-8.2-9.7-12.5-.2-.3-.5-1-.7-1.5-.2-.4-.4-.7-.7-.8-.3-.1-.6 0-.8.3L574 712c0 0 0 0 0 0-.2.2-.2.5-.2.9 0 .3.2.7.4.9.1.1 1.8 2.2 2.8 3.1 3.1 3.1 8.8 10.5 8.9 10.6.2.3.5.4.8.4.3 0 .5-.2.6-.5 0 0 1.2-2.8 2-4.1 1.1-1.9 2.3-3.7 3.5-5.5.9-1.4 1.3-1.7 1.7-2 .5-.4 1-.7 2.1-2.4C596.9 713.1 596.8 712.3 596.4 711.8zM727.5 179.9C727.5 179.9 727.5 179.9 727.5 179.9c.6.2 1.3-.2 1.4-.8 0-.1 0-.2 0-.4.2-1.4 2.8-12.6 4.5-19.5.1-.3 0-.6-.2-.8-.2-.3-.5-.4-.8-.5-.2 0-4.7-1.1-5.7-1.3l-13.4-2.7c-.3-.1-.7 0-.9.2-.2.2-.4.4-.5.6 0 0 0 .1 0 .1-.8 6.5-2.2 13.1-3.9 19.4-.1.3 0 .6.2.9.2.3.5.4.8.5C714.8 176.9 721.7 178.5 727.5 179.9zM728.5 178.1c-.1-.1-.2-.2-.4-.2C728.3 177.9 728.4 178 728.5 178.1z'/%3E%3Cg fill='%23ffddff'%3E%3Cpath d='M699.6 472.7c-1.5 0-2.8-.8-3.5-2.3-.8-1.9 0-4.2 1.9-5 3.7-1.6 6.8-4.7 8.4-8.5 1.6-3.8 1.7-8.1.2-11.9-.3-.9-.8-1.8-1.2-2.8-.8-1.7-1.8-3.7-2.3-5.9-.9-4.1-.2-8.6 2-12.8 1.7-3.1 4.1-6.1 7.6-9.1 1.6-1.4 4-1.2 5.3.4 1.4 1.6 1.2 4-.4 5.3-2.8 2.5-4.7 4.7-5.9 7-1.4 2.6-1.9 5.3-1.3 7.6.3 1.4 1 2.8 1.7 4.3.5 1.1 1 2.2 1.5 3.3 2.1 5.6 2 12-.3 17.6-2.3 5.5-6.8 10.1-12.3 12.5C700.6 472.6 700.1 472.7 699.6 472.7zM740.4 421.4c1.5-.2 3 .5 3.8 1.9 1.1 1.8.4 4.2-1.4 5.3-3.7 2.1-6.4 5.6-7.6 9.5-1.2 4-.8 8.4 1.1 12.1.4.9 1 1.7 1.6 2.7 1 1.7 2.2 3.5 3 5.7 1.4 4 1.2 8.7-.6 13.2-1.4 3.4-3.5 6.6-6.8 10.1-1.5 1.6-3.9 1.7-5.5.2-1.6-1.4-1.7-3.9-.2-5.4 2.6-2.8 4.3-5.3 5.3-7.7 1.1-2.8 1.3-5.6.5-7.9-.5-1.3-1.3-2.7-2.2-4.1-.6-1-1.3-2.1-1.9-3.2-2.8-5.4-3.4-11.9-1.7-17.8 1.8-5.9 5.8-11 11.2-14C739.4 421.6 739.9 421.4 740.4 421.4zM261.3 590.9c5.7 6.8 9 15.7 9.4 22.4.5 7.3-2.4 16.4-10.2 20.4-3 1.5-6.7 2.2-11.2 2.2-7.9-.1-12.9-2.9-15.4-8.4-2.1-4.7-2.3-11.4 1.8-15.9 3.2-3.5 7.8-4.1 11.2-1.6 1.2.9 1.5 2.7.6 3.9-.9 1.2-2.7 1.5-3.9.6-1.8-1.3-3.6.6-3.8.8-2.4 2.6-2.1 7-.8 9.9 1.5 3.4 4.7 5 10.4 5.1 3.6 0 6.4-.5 8.6-1.6 4.7-2.4 7.7-8.6 7.2-15-.5-7.3-5.3-18.2-13-23.9-4.2-3.1-8.5-4.1-12.9-3.1-3.1.7-6.2 2.4-9.7 5-6.6 5.1-11.7 11.8-14.2 19-2.7 7.7-2.1 15.8 1.9 23.9.7 1.4.1 3.1-1.3 3.7-1.4.7-3.1.1-3.7-1.3-4.6-9.4-5.4-19.2-2.2-28.2 2.9-8.2 8.6-15.9 16.1-21.6 4.1-3.1 8-5.1 11.8-6 6-1.4 12 0 17.5 4C257.6 586.9 259.6 588.8 261.3 590.9z'/%3E%3Ccircle cx='1013.7' cy='153.9' r='7.1'/%3E%3Ccircle cx='1024.3' cy='132.1' r='7.1'/%3E%3Ccircle cx='1037.3' cy='148.9' r='7.1'/%3E%3Cpath d='M1508.7 297.2c-4.8-5.4-9.7-10.8-14.8-16.2 5.6-5.6 11.1-11.5 15.6-18.2 1.2-1.7.7-4.1-1-5.2-1.7-1.2-4.1-.7-5.2 1-4.2 6.2-9.1 11.6-14.5 16.9-4.8-5-9.7-10-14.7-14.9-1.5-1.5-3.9-1.5-5.3 0-1.5 1.5-1.5 3.9 0 5.3 4.9 4.8 9.7 9.8 14.5 14.8-1.1 1.1-2.3 2.2-3.5 3.2-4.1 3.8-8.4 7.8-12.4 12-1.4 1.5-1.4 3.8 0 5.3 0 0 0 0 0 0 1.5 1.4 3.9 1.4 5.3-.1 3.9-4 8.1-7.9 12.1-11.7 1.2-1.1 2.3-2.2 3.5-3.3 4.9 5.3 9.8 10.6 14.6 15.9.1.1.1.1.2.2 1.4 1.4 3.7 1.5 5.2.2C1510 301.2 1510.1 298.8 1508.7 297.2zM327.6 248.6l-.4-2.6c-1.5-11.1-2.2-23.2-2.3-37 0-5.5 0-11.5.2-18.5 0-.7 0-1.5 0-2.3 0-5 0-11.2 3.9-13.5 2.2-1.3 5.1-1 8.5.9 5.7 3.1 13.2 8.7 17.5 14.9 5.5 7.8 7.3 16.9 5 25.7-3.2 12.3-15 31-30 32.1L327.6 248.6zM332.1 179.2c-.2 0-.3 0-.4.1-.1.1-.7.5-1.1 2.7-.3 1.9-.3 4.2-.3 6.3 0 .8 0 1.7 0 2.4-.2 6.9-.2 12.8-.2 18.3.1 12.5.7 23.5 2 33.7 11-2.7 20.4-18.1 23-27.8 1.9-7.2.4-14.8-4.2-21.3l0 0C347 188.1 340 183 335 180.3 333.6 179.5 332.6 179.2 332.1 179.2zM516.3 60.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C517.3 60.4 516.8 60.8 516.3 60.8zM506.1 70.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C506.4 70.5 506.2 70.5 506.1 70.5zM494.1 64.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C494.7 64.3 494.4 64.4 494.1 64.4zM500.5 55.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C500.9 55.3 500.7 55.3 500.5 55.3zM506.7 55c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C507.4 54.8 507.1 55 506.7 55zM1029.3 382.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C1030.3 382.4 1029.8 382.8 1029.3 382.8zM1019.1 392.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C1019.4 392.5 1019.2 392.5 1019.1 392.5zM1007.1 386.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C1007.7 386.3 1007.4 386.4 1007.1 386.4zM1013.5 377.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C1013.9 377.3 1013.7 377.3 1013.5 377.3zM1019.7 377c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C1020.4 376.8 1020.1 377 1019.7 377zM1329.7 573.4c-1.4 0-2.9-.2-4.5-.7-8.4-2.7-16.6-12.7-18.7-20-.4-1.4-.7-2.9-.9-4.4-8.1 3.3-15.5 10.6-15.4 21 0 1.5-1.2 2.7-2.7 2.8 0 0 0 0 0 0-1.5 0-2.7-1.2-2.7-2.7-.1-6.7 2.4-12.9 7-18 3.6-4 8.4-7.1 13.7-8.8.5-6.5 3.1-12.9 7.4-17.4 7-7.4 18.2-8.9 27.3-10.1l.7-.1c1.5-.2 2.9.9 3.1 2.3.2 1.5-.9 2.9-2.3 3.1l-.7.1c-8.6 1.2-18.4 2.5-24 8.4-3 3.2-5 7.7-5.7 12.4 7.9-1 17.7 1.3 24.3 5.7 4.3 2.9 7.1 7.8 7.2 12.7.2 4.3-1.7 8.3-5.2 11.1C1335.2 572.4 1332.6 573.4 1329.7 573.4zM1311 546.7c.1 1.5.4 3 .8 4.4 1.7 5.8 8.7 14.2 15.1 16.3 2.8.9 5.1.5 7.2-1.1 2.7-2.1 3.2-4.8 3.1-6.6-.1-3.2-2-6.4-4.8-8.3C1326.7 547.5 1317.7 545.6 1311 546.7z'/%3E%3C/g%3E%3C/svg%3E");
	
    /* background-image: url(image/bg_camouflage.svg); */
	background-attachment: fixed;
}
div.day-or-night {
    width: 60px;
    position: fixed;		
    top: 16px;
    right: 16px;
    /* bottom: 0; */
    z-index: 1000;
}
div.day-or-night>img {
    cursor: pointer;
    width: 40px;
    padding: 10px;
	filter: drop-shadow(0px 4px 4px #aaa);
}
div.tag_list {
  display: flex;
}
input[type="checkbox"] {
  display: none;
}
label {
  --bg-color: #ffa;
  width: 1rem;
  font-size: 0.8rem;
  display: inline-block;
  outline: 1px solid color-mix(in lab, #ffdd00 30%, var(--bg-color));
  outline: 1px solid #fff5b5;
  
  padding: 10px 10px 0 10px;
  margin: 3px 6px 0 6px;
  border-radius: 15px 15px 0 0;
  /* min-width: 7ch; */
  text-align: center;
  user-select: none;
  
  &:has([name="Muldraugh"]) { --bg-color: var(--font_Muldraugh); }
  &:has([name="MarchRidge"]) { --bg-color: var(--font_MarchRidge); }
  &:has([name="Rosewood"]) { --bg-color: var(--font_Rosewood); }
  &:has([name="Ekron"]) { --bg-color: var(--font_Ekron); }
  &:has([name="rvington"]) { --bg-color: var(--font_rvington); }
  &:has([name="EchoCreek"]) { --bg-color: var(--font_EchoCreek); }
  &:has([name="Brandenburg"]) { --bg-color: var(--font_Brandenburg); }
  &:has([name="WestPoint"]) { --bg-color: var(--font_WestPoint); }
  &:has([name="Louisville"]) { --bg-color: var(--font_Louisville); }
  &:has([name="FallasLake"]) { --bg-color: var(--font_FallasLake); }
  &:has([name="ValleyStation"]) { --bg-color: var(--font_ValleyStation); }
  &:has([name="Dixie"]) { --bg-color: var(--font_Dixie); }
  &:has([name="DoeValley"]) { --bg-color: var(--font_DoeValley); }

  
  background: color-mix(in lab, white 70%, var(--bg-color));
  
  &:hover {
      background: color-mix(in lab, white 90%, var(--bg-color));
  }
  
  &:has(:checked) {
    background: color-mix(in lab, orange 30%, var(--bg-color));
    color: color-mix(in lab, black 80%, var(--bg-color));
    padding: 10px 10px 0 10px;
	margin-top: -10px;
    &:hover {
        background: color-mix(in lab, red 10%, var(--bg-color));
    }
  }
}

.items {
  margin-block: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.item {
  outline: 1px solid silver;
  width: 200px;
  height: 220px;
  overflow: clip;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transition: opacity .5s, width .5s, height .5s, display .35s allow-discrete;
  
  @starting-style {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
  
  &::before {
    content: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.'
  }
}
.item > div {
  &::before {
    content: var(--text, 'tag');
    display: inline-block;
    min-width: 4ch;
    text-align: center;
    padding: 3px 8px;
    border-radius: 5px;
    background: color-mix(in lab, var(--color), white 70%);
    outline: 1px solid var(--color);
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1ch;
  }
}


.poi>div{
	display:block;   
	float: left;
    width: calc(100% - 10px);
}

a:link {
  color: #aaa; /* 例如：藍色 */
}



div.town_list {
   display: flex;
   overflow: hidden;
    top: 0;
	height: 5rem;
    z-index: 100;
    position: sticky;
    background-color: white;
	padding: 20px 20px 0 20px;
    border-bottom: 1px solid #fff5b5;
	box-shadow: 0 3px 10px 5px white;
	background-image: url(image/cookie_T.svg);
}
.pois{
    margin-block: 30px;
    display: flex;
	float: left;
    gap: 30px;
    flex-wrap: wrap;
    padding: 5vh 5vw 20vh 5vw;
}
.poi {
	width: calc(25vw - 25px);
	width: calc(50% - 4vw);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transition: opacity .5s, width .5s, height .5s, display .35s allow-discrete;
	background-repeat: repeat;
    overflow: auto;
	box-shadow: #949494 3px 3px 5px 0px;
	background-color: #ffffee;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='10 10 90 90'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffee81' fill-opacity='0.83'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	
    @starting-style {
        width: 0px;
        height: 0px;
        opacity: 0;
    }

}
@media (max-width: 600px) {
            .poi {
				width: calc(100vw - 25px);
			}
        }

.poi::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}
.poi::-webkit-scrollbar-track-piece {
    background: transparent;
	background-color:color-mix(in lab,wheat,white);
	background-color:wheat;
}

.poi::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgb(255 255 152);
	border: 0;
}
.description{
	font-size:0.8rem;
}

div.town_list:has([name="Muldraugh"]:checked) ~ .pois .poi:not(:has(.Muldraugh)),
div.town_list:has([name="MarchRidge"]:checked) ~ .pois .poi:not(:has(.MarchRidge)),
div.town_list:has([name="Rosewood"]:checked) ~ .pois .poi:not(:has(.Rosewood)),
div.town_list:has([name="Ekron"]:checked) ~ .pois .poi:not(:has(.Ekron)),
div.town_list:has([name="Irvington"]:checked) ~ .pois .poi:not(:has(.Irvington)),
div.town_list:has([name="EchoCreek"]:checked) ~ .pois .poi:not(:has(.EchoCreek)),
div.town_list:has([name="Brandenburg"]:checked) ~ .pois .poi:not(:has(.Brandenburg)),
div.town_list:has([name="WestPoint"]:checked) ~ .pois .poi:not(:has(.WestPoint)),
div.town_list:has([name="Louisville"]:checked) ~ .pois .poi:not(:has(.Louisville)),
div.town_list:has([name="FallasLake"]:checked) ~ .pois .poi:not(:has(.FallasLake)),
div.town_list:has([name="ValleyStation"]:checked) ~ .pois .poi:not(:has(.ValleyStation)),
div.town_list:has([name="Dixie"]:checked) ~ .pois .poi:not(:has(.Dixie)),
div.town_list:has([name="DoeValley"]:checked) ~ .pois .poi:not(:has(.DoeValley))
{  display: none;
  opacity: 0;
  width: 0;
  height: 0;
  }
  
  button {
	cursor:pointer;
	display: inline-flex;
	padding: 3px 8px;
	margin: 0 6px;
	border: 0;
	text-decoration: none;
	font-size: 16px;
    background-color: transparent;
	
    width: 20px;
    height: 20px;
	background-image: url(image/copy.svg);
}
button:hover {
    background-color: skyblue;
}

div.tag {
    float: left;
    width: auto;
	height: fit-content;
    border-radius: 15px;
    /* border: 2px dotted #ffffea; */
    padding: 2px 6px;
    color: gray;
    background: color-mix(in lab, wheat 45%, white);
	filter: drop-shadow(1px 1px 1px #ccc);
    box-shadow: inset 0px -1px 3px 0px wheat;
}
div.location{
	padding: 2px 6px 2px 6px;
	&::before{
	    content:"！";
		content: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjIwcHgiIGhlaWdodD0iMjBweCIgdmlld0JveD0iMCAwIDI0IDI0IiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIiB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIiB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iPgogPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAtMTAyOC40KSI+CiAgPHBhdGggZD0ibTggMTAzMC40IDggMXYxOWwtOC0xeiIgZmlsbD0iI2VjZjBmMSIvPgogIDxwYXRoIGQ9Im0yIDEwMzEuNCA2LTF2MTlsLTYgMXoiIGZpbGw9IiNiZGMzYzciLz4KICA8cGF0aCBkPSJtMTYgMTAzMS40IDYtMXYxOWwtNiAxeiIgZmlsbD0iI2JkYzNjNyIvPgogIDxwYXRoIGQ9Im0zIDEwMzIuNCA1LTF2MTdsLTUgMXoiIGZpbGw9IiMyN2FlNjAiLz4KICA8cGF0aCBkPSJtOCAxMDMxLjQgOCAxdjE3bC04LTF6IiBmaWxsPSIjMmVjYzcxIi8+CiAgPHBhdGggZD0ibTEzIDFjLTEuNjU3IDAtMyAxLjM0MzItMyAzczEuMzQzIDMgMyAzIDMtMS4zNDMyIDMtMy0xLjM0My0zLTMtM3ptMCAyYzAuNTUyIDAgMSAwLjQ0NzcgMSAxcy0wLjQ0OCAxLTEgMS0xLTAuNDQ3Ny0xLTEgMC40NDgtMSAxLTF6IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIDEwMjguNCkiIGZpbGw9IiNjMDM5MmIiLz4KICA8cGF0aCBkPSJtMjEgMTA0OC40LTUgMXYtMTdsNS0xeiIgZmlsbD0iIzI3YWU2MCIvPgogIDxwYXRoIGQ9Im01LjY4NzUgMTAzMS44LTIuMzEyNSAwLjUgNC42MjUgNC45di0yLjlsLTIuMzEyNS0yLjV6IiBmaWxsPSIjZjM5YzEyIi8+CiAgPHBhdGggZD0ibTIxIDEwNDYuNC01IDF2LTZsNS0zeiIgZmlsbD0iI2YzOWMxMiIvPgogIDxwYXRoIGQ9Im0yMSAxMDQ4LjQtNSAxdi02bDUtM3oiIGZpbGw9IiMyOTgwYjkiLz4KICA8cGF0aCBkPSJtOCAxMDQyLjQgOC0xdjZsLTgtMXoiIGZpbGw9IiNmMWM0MGYiLz4KICA8cGF0aCBkPSJtOCAxMDQ0LjQgOC0xdjZsLTgtMXoiIGZpbGw9IiMzNDk4ZGIiLz4KICA8cGF0aCBkPSJtMyAxMDQ1LjQgNS0zdjRsLTUgMXoiIGZpbGw9IiNmMzljMTIiLz4KICA8cGF0aCBkPSJtMyAxMDQ3LjQgNS0zdjRsLTUgMXoiIGZpbGw9IiMyOTgwYjkiLz4KICA8cGF0aCBkPSJtOCA4LjgwMDh2LTIuODk4NWw0IDguNjU5N2gtMS40Njl6IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIDEwMjguNCkiIGZpbGw9IiNmMWM0MGYiLz4KICA8cGF0aCBkPSJtMTMgMTAyOC40Yy0yLjIwOSAwLTQgMS44LTQgNCAwIDAuNyAwLjE5MDggMS4zIDAuNTE1NiAxLjkgMC4wNTM5IDAuMSAwLjExMDUgMC4yIDAuMTcxOSAwLjNsMy4zMTI1IDUuOCAzLjMxMi01LjhjMC4wNTEtMC4xIDAuMDk1LTAuMiAwLjE0MS0wLjJsMC4wMzEtMC4xYzAuMzI1LTAuNiAwLjUxNi0xLjIgMC41MTYtMS45IDAtMi4yLTEuNzkxLTQtNC00em0wIDJjMS4xMDUgMCAyIDAuOSAyIDJzLTAuODk1IDItMiAyLTItMC45LTItMiAwLjg5NS0yIDItMnoiIGZpbGw9IiNlNzRjM2MiLz4KIDwvZz4KPC9zdmc+');
	    content: url(image/tag-location.svg);
		margin-right: 4px;
        top: 2px;
        position: relative;
	}
}
div.tag[tag="food"]{
	padding: 2px 6px 2px 6px;
	&::before{
	    content:"！";
	    content: url(image/tag-food.svg);
		margin-right: 4px;
        top: 2px;
        position: relative;
	}
}
div.tag[tag="gasoline"]{
	padding: 2px 6px 2px 6px;
	&::before{
	    content:"！";
	    content: url(image/tag-gasoline.svg);
		margin-right: 4px;
        top: 2px;
        position: relative;
	}
}
